body{
    height: 100vh;
    margin: 0;
    background-color: rgb(201, 226, 9);
    display: flex;
    justify-content: center;
    align-items: center;
   
}
#card{
    background-color: aliceblue;
    padding: 50px;
    width: 260px;
    border-radius: 10px;
}
h1{
    font-style: italic;
}
#Incrase{
    background-color: yellow;
}
#Reset{
    background-color: red;
    color: white;
}
#Decrase{
    background-color: yellow;
}